<div class="row text-align-l">

    <div class="col-sm-12">
        <p class="lead">
           Goal risk notification
        </p>
    </div>

    <div class="col-sm-12">
        <p class="lead">
           My Learning
        </p>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-2">
            <div class="custom">
                <i class="bi bi-bullseye icon-target px-2"></i>
            </div>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Overall Progress</h5>
              <p class="card-text font-text-xs">Study <b>4</b> hours per week to finish on <b>30th December, 2024.</b></p>
            </div>
          </div>
        </div>

        <div class="row g-0 mt-3">
            <div class="col-md-2">
              <div class="custom">
                <i class="bi bi-trophy-fill icon-trophy px-2"></i>
              </div>
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">Certificates</h5>
                <p class="card-text font-text-xs">You have <b>1</b> learning completed</p>
              </div>
            </div>
          </div>
      </div>
</div>

