.text-align-l{
    text-align: left;
}

.card{
    background: #f1f1f1;
    border: none;
}

.icon-target{
    color: #ff0000;
    font-size: 50px;
}

.custom{
    background: #dbd7d7;
    border-radius: 5px;
    width: 65px;
    height: 70px;
}

.card-body{
    padding-top:0;
}

.font-text-xs{
    font-size: 13px;
}

.icon-trophy{
    color:#005ff3;
    font-size: 50px;
}