.text-align-l {
  text-align: left;
}

.card {
  background: #ffffff;
  border: none;
}

.icon-target {
  color: #ff0000;
  font-size: 50px;
}

.custom {
  background: #e9e4e4;
  border-radius: 10px;
  width: 65px;
  height: 70px;
}

.card-body {
  padding-top: 0;
}

.font-text-xs {
  font-size: 13px;
}

.icon-trophy {
  color: #4a91ff;
  font-size: 50px;
}

.icon-hourglass {
  color: #f1951e;
  font-size: 50px;
}

.margin {
  margin: 0;
}

.font-text-sm {
  font-size: 13px;
}
