<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> <i class="bi bi-compass"></i> Courses.</a>
    </div>
    <div class="expand navbar-expand" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="px-3">
          <i class="bi bi-app-indicator"></i>
        </li>
        <li class="px-1">
          <i class="bi bi-mortarboard"></i>
          <span class="px-2 size"> Ravi Bhasker </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-8 text-left background py-4">
      <div class="row py-2">
        <div class="col-sm-6 text-align-left">
          <span class="h5">Course activity</span>
          <i class="bi bi-plus-square-fill font-size-xl px-3 pointer" (click)="addNewCourse()"></i>
        </div>
      </div>
      <!-- @if(courses$ | async){ -->
        <feature-course-list
        [courses]="courses$ | async">

      </feature-course-list>
      <!-- } -->

    </div>
    <div class="col-sm-4 sidenav">
      <div class="row py-3">
        <div class="col-sm-6 text-align-left">
          <span class="h5">Learning activity</span>
        </div>
      </div>
      <feature-learning-activity>

      </feature-learning-activity>
    </div>
  </div>
</div>

<feature-add-course
  [modalEvent]="modalEvent.asObservable()"
></feature-add-course>

<router-outlet />
